<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
<body>
<p>verb
1.
make it easier for (someone) to do something by offering one's services or resources.
"they helped her with domestic chores"
Similar:
assist
aid
help out
lend a hand to
lend a helping hand to
give assistance to
come to the aid of
succor
aid and abet
be of service to
be of use to
be useful to
do someone a favor
do someone a service
do someone a good turn
bail/bale someone out
come to someone's rescue
give someone a leg up
cooperate with
do one's bit for
rally around
pitch in
chip in
save someone's bacon
save someone's skin
muck in with
get stuck in with
Opposite:
hinder
2.
serve someone with (food or drink).
"she helped herself to a cookie"
noun
the action of helping someone to do something; assistance.
"I asked for help from my neighbors"
Similar:
assistance
aid
a helping hand
support
succor
advice
guidance
solution
benefit
use
advantage
service
comfort
avail
cooperation
collaboration
backing
encouragement
a shot in the arm
Opposite:
hindrance
exclamation
used as an appeal for urgent assistance.
"Help! I'm drowning!"</p>
</body>
</html>